{% load static %}

<footer>
	<div class="footer container-fluid bg-dark text-white">
		<div class="footer-row">
			<div class="col-md-6 col-lg-3">
				<img src="{% static 'reparado/img/logo ReparaDo.jpg' %}" alt="Logo ReparaDo" class="img-fluid rounded-circle" style="max-height: 150px" />
			</div>

			<div class="footer-link">
				<h4>Compañia</h4>
				<ul>
					<li><a href="#">Nosotros</a></li>
					<li><a href="#">Nuestros servicios</a></li>
					<li><a href="#">Siguenos</a></li>
					<li><a href="#">Contactonos</a></li>
					<li><a href="#">Politica de privacidad</a></li>
				</ul>
			</div>
			<div class="footer-link">
				<h4>Ayudas</h4>
				<ul>
					<li><a href="#">Preguntas</a></li>
					<li><a href="#">Solicitudes</a></li>
					<li><a href="#">Citas</a></li>
					<li><a href="#">Pagos</a></li>
				</ul>
			</div>

			<div class="footer-link">
				<h4>Siguenos</h4>
				<div class="social-link">
					<a href="#"><i class="fa-brands fa-instagram fa-2xl" style="color: #000000;"></i></a>
					<a href="#"><i class="fa-brands fa-twitter fa-2xl" style="color: #000000;"></i></a>
					<a href="#"><i class="fa-brands fa-facebook-f fa-2xl" style="color: #000000;"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row bg-secondary text-white text-center py-2">
		<div class="col-12">
			<p>&copy; 2023 ReparaDo! - Todos los derechos reservados</p>
		</div>
	</div>
</footer>
