{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ReparaDo! - Tu Plataforma de Servicios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'reparado/css/ejercicioboostrap.css' %}"/>
    <script src="https://kit.fontawesome.com/7a5d053fc8.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">ReparaDo!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Visualizar Información de Cliente</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Registro de Nuevos Clientes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown">Servicios</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="./crearServicio.html">Creación de Servicios</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./visualizarServicios.html">Visualización de
                                    Servicios</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Perfil</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                            <li>
                                <a class="dropdown-item" href="#">Cambiar contraseña</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %}
    <section>
        <div id="jumbotron" class="p-5 bg-dark text-white rounded text-center">
            <h1>Panel Administrador</h1>
        </div>
    </section>

    <section id="service-links" class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-3">
                <a href="{% url 'categorias' %}" class="text-decoration-none">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'reparado/img/servicios.jpg' %}" alt="Electricidad"/>
                        <div class="card-body text-center">
                            <h4 class="card-title">Categorias</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
                <a href="{% url 'servicios' %}" class="text-decoration-none">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'reparado/img/solicitudes.jpg' %}"
                             alt="Otros Servicios"/>
                        <div class="card-body text-center">
                            <h4 class="card-title">Servicios</h4>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
                <a href="{% url 'usuarios' %}" class="text-decoration-none">
                    <div class="card h-100">
                        <img class="card-img-top" src="{% static 'reparado/img/carpinteria.jpg' %}" alt="Obra Blanca"/>
                        <div class="card-body text-center">
                            <h4 class="card-title">Usuarios</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Resto del contenido -->
</main>

{% include 'reparado/layouts/footer1.html' %}
</body>
</html>
