{% extends 'reparado/layouts/nueva_base.html' %}

{% load static %}

{% block titulo %}Categorías{% endblock %}

{% block principal %}

<section class="container mt-3">
    <h3>Información Categorías</h3>
    <table id="dataTable" class="table user-list table-bordered table-hover">
        <thead>
        <tr>
            <th>ID Categoría</th>
            <th>Nombre de la Categoría</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in data %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre_cat }}</td>
            <td>{{ categoria.desc }}</td>
            <td>
                <button class="btn btn-dark" data-bs-toggle="modal">
                    <i class="bi bi-eye"></i>
                </button>

                <button class="btn btn-primary btnEditarCategoria"
                        onclick="categorias_editar(`{% url 'categorias_editar' categoria.id %}`)">
                    <i class="bi bi-pencil"></i>
                </button>

                <button class="btn btn-danger" data-bs-toggle="modal">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a class="btn btn-primary" href="{% url 'categorias_crear' %}">Crear nueva Categoría</a>
    <br><br>
</section>

<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">

</div>

{% endblock %}




