{% extends 'reparado/layouts/nueva_base.html' %}

{% load static %}

{% block titulo %}Usuarios{% endblock %}

{% block principal %}

<section class="container mt-3">
    <h3>Información Usuarios</h3>
    <table id="dataTable" class="table user-list table-bordered table-hover">
        <thead>
        <tr>
            <th><span>Id Usuario</span></th>
            <th><span>User</span></th>
            <th><span>Created</span></th>
            <th class="text-center"><span>Status</span></th>
            <th><span>Email</span></th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for u in data %}
        <tr>
            <td>
                {{ u.id }}
            </td>
            <td>
                <img src="{{ u.foto.url }}" alt=""/>
                <a href="#" class="user-link">{{ u.nombre }} {{ u.apellido }}</a>
                <span class="user-subhead">{{ u.rol }}</span>
            </td>
            <td>2013/08/08</td>
            <td class="text-center">
                <select class="user-status">
                    <option value="active">Activo</option>
                    <option value="inactive">Inactivo</option>
                    <option value="pending">Pendiente</option>
                    <!-- Agrega más opciones de estados aquí -->
                </select>
            </td>

            <td><a href="#">{{ u.email }}</a></td>
            <td>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#visualizarUsuario">
                    <i class="bi bi-eye"></i>
                </button>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editarUsuario">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-info">
                    <i class="bi bi-toggle-off"></i>
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuario">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}