{% extends 'reparado/layouts/nueva_base.html' %}

{% load static %}

{% block titulo %}Servicios{% endblock %}

{% block principal %}

    <section class="container mt-3">
        <h3>Información Servicios</h3>
        <table id="dataTable" class="table user-list table-bordered table-hover">
            <thead>
            <tr>
                <th>ID Servicio</th>
                <th>Nombre del Servicio</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for r in data %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.nombre_ser }}</td>
                <td>{{ r.id_categorias }}</td>
                <td>{{ r.precio }}</td>
                <td>
                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#visualizarModal">
                        <i class="bi bi-eye"></i>
                    </button>
                    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editarModal{{ r.id }}">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
